/* Sass Variables */
/* Base Styles */
body {
  width: 100%;
  margin: 0 auto;
}

/* Header */
header {
  background-color: #9368B7;
}
header .navbar-brand {
  font-family: "Shadows Into Light", cursive;
  font-size: 35px;
}
header .dropdown-menu {
  background-color: #9368B7;
}
header li, header .dropdown-item {
  font-size: 20px;
  color: #fff;
}
header a {
  color: #fff;
}
header a:hover {
  color: #9297C4;
}
header i {
  color: #fff;
}

/* Quote */
#quote {
  background-color: #AA3E98;
  padding: 80px 0;
}
#quote h2 {
  font-size: 35px;
  color: #fff;
  font-family: "Merriweather", serif;
  line-height: 50px;
}
#quote h3 {
  font-size: 30px;
  font-family: "Shadows Into Light", cursive;
  color: #fff;
  padding: 15px 0;
}

/* email */
#email {
  background-color: #9368B7;
  padding: 30px 0;
}
#email h2 {
  font-size: 35px;
  font-family: "Shadows Into Light", cursive;
  color: #fff;
}
#email p {
  font-size: 20px;
  line-height: 32px;
  color: #fff;
  padding: 15px;
}
#email .btn {
  background-color: #AA3E98;
  color: #fff;
  font-size: 20px;
}

/* About */
#about {
  padding: 50px 0;
}
#about p {
  font-size: 20px;
  line-height: 32px;
  color: #333;
  font-family: "Merriweather", serif;
}

/* Programs */
#programs {
  padding: 40px 0;
}
#programs h2 {
  font-size: 35px;
  font-family: "Shadows Into Light", cursive;
  color: #9368B7;
}
#programs p {
  font-size: 20px;
  line-height: 32px;
  color: #333;
  font-family: "Merriweather", serif;
  padding: 15px;
}
#programs .group {
  margin: 0 25px;
  background-color: #AA3E98;
  padding: 20px;
  font-family: "Merriweather", serif;
  color: #fff;
}

/* Meg */
#meg {
  padding: 40px 0;
}
#meg img {
  margin-bottom: 20px;
}
#meg h2 {
  font-size: 35px;
  font-family: "Shadows Into Light", cursive;
  color: #9368B7;
}
#meg p {
  font-size: 20px;
  line-height: 32px;
  font-family: "Merriweather", serif;
  padding: 15px;
}
#meg button {
  background-color: #AA3E98;
  color: #fff;
  font-size: 20px;
}

/* Upcoming */
#upcoming {
  padding: 40px 0;
}
#upcoming h2 {
  font-size: 35px;
  font-family: "Shadows Into Light", cursive;
  color: #9368B7;
  padding-bottom: 15px;
}
#upcoming h3 {
  font-size: 30px;
  font-family: "Merriweather", serif;
  color: #333;
  padding: 0 15px;
}
#upcoming p {
  font-size: 20px;
  line-height: 32px;
  font-family: "Merriweather", serif;
  padding: 15px;
}
#upcoming button {
  background-color: #AA3E98;
  color: #fff;
  font-size: 20px;
  margin-bottom: 40px;
}

/* Bottom Nav */
#bottom-nav {
  background-color: #AA3E98;
  padding: 20px 0;
}
#bottom-nav h3 {
  font-size: 30px;
  color: #fff;
  font-family: "Shadows Into Light", cursive;
}
#bottom-nav p {
  font-size: 20px;
  color: #fff;
  font-family: "Merriweather", serif;
  line-height: 32px;
}
#bottom-nav i {
  color: #fff;
  padding: 0 15px;
}
#bottom-nav li {
  color: #fff;
  font-family: "Merriweather", serif;
  list-style-type: none;
  padding: 10px 0;
}

/* Footer */
footer {
  background-color: #9368B7;
  padding: 15px 0;
}
footer p {
  color: #fff;
  font-size: 18px;
  font-family: "Shadows Into Light", cursive;
}

/*# sourceMappingURL=tablet.css.map */
