/* Sass Variables */ 
$merriweather: 'Merriweather', serif;
$shadows: 'Shadows Into Light', cursive;
$light-purple: #AA3E98;
$purple: #9368B7;
$hover-color: #9297C4;

/* Base Styles */
body {
    width: 100%;
    margin: 0 auto;
}

/* Header */
header {
    background-color: $purple;
    
    .navbar-brand {
        font-family: $shadows;
        font-size: 35px;
    }

    .dropdown-menu {
        background-color: $purple;
    }

    li, .dropdown-item {
        font-size: 20px;
        color: #fff;
    }

    a {
        color: #fff;
    }

    a:hover {
        color: $hover-color;
    }

    i {
        color: #fff;
    }
}

/* Quote */ 
#quote {
    background-color: $light-purple;
    padding: 80px 0;

    h2 {
        font-size: 35px;
        color: #fff;
        font-family: $merriweather;
        line-height: 50px;
    }

    h3 {
        font-size: 30px;
        font-family: $shadows;
        color: #fff;
        padding: 15px 0;
    }
}

/* email */ 
#email {
    background-color: $purple;
    padding: 30px 0;

    h2 {
        font-size: 35px;
        font-family: $shadows;
        color: #fff;
    }

    p {
        font-size: 20px;
        line-height: 32px;
        color: #fff;
        padding: 15px;
    }

    .btn {
        background-color: $light-purple;
        color: #fff;
        font-size: 20px;
    }
}

/* About */
#about {
    padding: 50px 0;

    p {
        font-size: 20px;
        line-height: 32px;
        color: #333;
        font-family: $merriweather;
    }
}

/* Programs */
#programs {
    padding: 40px 0;

    h2 {
        font-size: 35px;
        font-family: $shadows;
        color: $purple;
    }

    p {
        font-size: 20px;
        line-height: 32px;
        color: #333;
        font-family: $merriweather;
        padding: 15px;
    }

    .group {
        margin: 0 25px;
        background-color: $light-purple;
        padding: 20px;
        font-family: $merriweather;
        color: #fff;
    }
}

/* Meg */ 
#meg {
    padding: 40px 0;

    img {
        margin-bottom: 20px;
    }

    h2 {
        font-size: 35px;
        font-family: $shadows;
        color: $purple;
    }

    p {
        font-size: 20px;
        line-height: 32px;
        font-family: $merriweather;
        padding: 15px;
    }

    button {
        background-color: $light-purple;
        color: #fff;
        font-size: 20px;
    }
}

/* Upcoming */
#upcoming {
    padding: 40px 0;

    h2 {
        font-size: 35px;
        font-family: $shadows;
        color: $purple;
        padding-bottom: 15px;
    }

    h3 {
        font-size: 30px;
        font-family: $merriweather;
        color: #333;
        padding: 0 15px;
    }

    p {
        font-size: 20px;
        line-height: 32px;
        font-family: $merriweather;
        padding: 15px;
    }

    button {
        background-color: $light-purple;
        color: #fff;
        font-size: 20px;
        margin-bottom: 40px;
    }
}

/* Bottom Nav */
#bottom-nav {
    background-color: $light-purple;
    padding: 20px 0;

    h3 {
        font-size: 30px;
        color: #fff;
        font-family: $shadows;
    }

    p {
        font-size: 20px;
        color: #fff;
        font-family: $merriweather;
        line-height: 32px;
    }

    i {
        color: #fff;
        padding: 0 15px;
    }

    li {
        color: #fff;
        font-family: $merriweather;
        list-style-type: none;
        padding: 10px 0;
    }
}

/* Footer */
footer {
    background-color: $purple;
    padding: 15px 0;

    p {
        color: #fff;
        font-size: 18px;
        font-family: $shadows;
    }
}